# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Env files
.env
.flaskenv

# Migrations cache
migrations/__pycache__/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#Firebase
secrets/

